* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c313f;
    font-family: 'STIXGeneral', serif;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top:1rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

#Logo {
    background: none;
    border: none;
    display: flex;
    padding-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-button {
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
    font-size: 30px;
    color: white;
    margin-left: auto;
    cursor: pointer;
}

.unordered {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.listen {
    position: relative;
}

.menu {
    color: white;
    text-decoration: none;
    font-size: 150%;
    font-family: Arial, sans-serif;
    display: flex;
    padding: 0 60px;
    transition: border-bottom 0.3s;
    position: relative;
}

.menu:hover {
    border-bottom: 4px solid orange;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.listen:hover .submenu {
    display: block;
}

.submenu li {
    margin-bottom: 5px;
    list-style: none;
}

.submenu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: background-color 0.3s;
}

.submenu a:hover {
    background-color: orange;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .unordered {
        flex-direction: column;
        width: 100%;
    }
    
    .listen {
        width: 100%;
        text-align: left;
    }
    
    .menu {
        padding: 15px;
        font-size: 80%;
        width: 100%;
    }

    #Logo {
        align-items: flex-start;
    }
    
    .submenu {
        position: static;
        padding: 10px;
        width: 100%;
    }
    
    .submenu a {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .burger-menu {
        display: block;
        padding-bottom: 15%;
        padding-left: 40%;
    }
    
    .unordered {
        display: none;
        flex-direction: column;
        width: 100%; /* så den fylder hele mobil skærme */
        position: absolute;
        top: 120px; 
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
    }

    .unordered.show {
        display: flex;
    }
    
    .menu {
        font-size: 100%;
        width: 100%;
    }
    
    .submenu {
        padding: 5px;
        width: 100%;
    }
    
    .submenu a {
        padding: 8px;
    }
}