* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'STIXGeneral', serif;
}

.billeder {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 2em;
    position: relative;
}

/* position af første billed */
#velkommen {
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

/* position af andet billed under første billed */
#øl {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

/* position af tredje billed det til højre */
#event {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: start;
    position: relative;
}

/* giver en max bredde på billederne */

.responsiv {
    max-width: 100%;
    height: auto;
}


/* styling af knap */
.knap {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #ea8a48;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.knap:hover {
    background-color: #0056b3;
}


/*giver den ønsket position for knappen til event */
#knapEvent {
    top: 90%;
}

@media (max-width: 768px) { /*styling/responsiv i mobil/ipad format */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        padding: 1em;
    }

    #velkommen {
        grid-column: 1;
        grid-row: 1;
    }

    #øl {
        grid-column: 1;
        grid-row: 2;
    }

    #event {
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        display: flex;
        justify-content: center;
    }

    #event img {
        width: 80%; 
        max-width: 300px; 
        height: auto;
    }

    .knap {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 16px;
        font-size: 14px;
    }

    #knapEvent {
        top: 95%;
    }
}
