* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'STIXGeneral', serif;
}

body {
    font-size: 16px;
    color: white;
    background-color: #0c313f; 
}

 /* styling af rammerne og placering på øllens kasse */
.ølSection {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; 
    flex-wrap: wrap;
}

/*styling på selve kassen øllene er placeret i */
.genstand {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px); 
    display: flex;
    flex-direction: column;
    min-width: 250px; 
}

/* placering af knap under øl */
.indhold {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.indhold h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

 /* styling af tekst inde i øllen */
.produkt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.billed {
    margin-right: 20px;
}

ul {
    list-style: none;
}

/* styling af knap */
.knap {
    background-color: #ea8a48;
    color: white;
    padding: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.knap:hover {
    background-color: #0056b3;
}

.billed img {
    width: 200px;
}

p {
    margin-top: 20px; /* tilføjer mellemrum imellem listen og p */
}

@media (max-width: 768px) {
    .ølSection {
        flex-direction: column; /* Sørge for at øllene går ned i række */
    }

    .genstand {
        flex: 1 1 100%; /* fylder det meste af skærmen */
        margin-bottom: 20px; /* tilføjer mellemrum */
    }

    .produkt {
        flex-direction: column;
    }

    .billed {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .billed img {
        width: 60%; 
    }
}
